{% extends "base.html" %}

{% block pageheading %}welcome{% endblock %}

{% block main %}
    <br>
    <br>
    {% if inc_pass %}
        <strong><em>incorrect password</em></strong>
    {% else %}
        <strong><em>tehrwhwrhw</em></strong>
    {% endif %}
    <form class='myform' method='post'>
        <div class="form-group">
            <div class="form-label"> Email: </div>
            <div class="form-element"> <input type = 'email' name = "email"></div>
        </div>
        <div class="form-group">
            <div class="form-label"> password: </div>
            <div class="form-element"> <input type = 'password' name = "user_password"></div>
        </div>
        <div class="form-group">
            <div class="form-label"></div>
            <div class="form-element"> <input type = 'submit' value = "submit"></div>
        </div>

    </form>
    <br>
    <br>
    <br>
    <br>
    <p> Don't have an account? <a href="/signup">sign up :)</a> </p>
{% endblock %}